[Desktop Entry]
Version=1.0
Type=Application
Categories=Application;Qt;Network;
Icon=fqterm
Name=FQTerm
Exec=fqterm -caption "%c" %i %u
GenericName=BBS Client
GenericName[zh_CN]=BBS 客户端程序
GenericName[zh_TW]=BBS 客戶端程式
Comment=BBS client based on Qt library in linux
Comment[zh_CN]=用于 Linux 系统的基于 Qt 库的 BBS 客户端
Keywords=Qt;BBS;Term;
Terminal=false
